* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  background-color: antiquewhite; }

footer {
  background-color: #0f0a46;
  color: white;
  padding: 1rem; }

footer a {
  color: antiquewhite; }

a {
  text-decoration: none; }

h2 {
  font-weight: 400; }

.main__wave {
  height: 30vh; }

.nav__logo {
  width: 100px; }

.nav__master {
  background-color: #1B1464;
  color: white !important; }

.main__hero {
  border: solid;
  border-color: antiquewhite;
  width: 100%;
  margin: 0%; }

.main__hero--logo {
  background-image: url(../Assets/Imagenes/Partituras.jpg);
  padding: -12px; }

.main__hero--carrousel {
  padding: 0%;
  border-left: solid;
  border-color: antiquewhite; }

.main__img--hero {
  animation-name: swing-in-top-fwd;
  animation-duration: 4s;
  animation-iteration-count: 0.3s; }

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

.main__cards {
  background-color: #1B1464;
  padding-top: 3rem;
  padding: 2rem; }

.main__card {
  width: 100%; }

.main__card--body {
  text-align: center;
  color: black !important; }

.main__card--img {
  padding: 3px; }

.main__card--hov:hover {
  transform: scale(105%);
  z-index: 1; }

.main__mock {
  padding: 2rem 3rem 5rem 3rem;
  flex-wrap: wrap; }

.main__mock--cta {
  color: white;
  border: solid 3px;
  border-color: #0e0c0c;
  background-image: url(../Assets/Imagenes/Mock.png);
  padding: 1rem 3rem 3rem 3rem;
  font-family: Arial, Helvetica, sans-serif, monospace;
  font-weight: 200;
  background-size: 100%;
  background-repeat: repeat;
  background-position: center;
  transition: 50ms; }

.main__mock--cta:hover {
  transform: scale(110%);
  z-index: 1; }

.main__mock--subText {
  color: #1B1464; }

.footer__info {
  grid-template-columns: repeat(3, 1fr);
  background-color: #0f0a46;
  color: white;
  place-items: center; }

/*orquesta*/
.main__orq, .main {
  padding: 2rem 0rem 4rem 0rem; }

.main__btn {
  color: antiquewhite; }

.main__btn--cuerdas {
  background-image: url(/Assets/Imagenes/Cuerdas.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 15vh;
  width: 100%;
  border: solid;
  border-color: #1B1464;
  padding: 1rem; }

.main__btn--maderas {
  background-image: url(/Assets/Imagenes/Madera.jpeg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 15vh;
  width: 100%;
  border: solid;
  border-color: #1B1464;
  padding: 1rem; }

.main__btn--bronces {
  background-image: url(/Assets/Imagenes/Bronces.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 15vh;
  width: 100%;
  border: solid;
  border-color: #1B1464;
  padding: 1rem; }

.main__btn--percu {
  background-image: url(/Assets/Imagenes/Percu.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 15vh;
  width: 100%;
  border: solid;
  border-color: #1B1464;
  padding: 1rem; }
