
footer{background-color: #0f0a46; color: white; padding: 1rem;}

a { text-decoration: none;color: #0f0a46;}

h2{ font-weight: 400;}

.nav__logo{
    width: 100px;
}
.nav__master{
    background-color: #1B1464;
color: white !important;}

body { background-color: antiquewhite;}

.main__hero {
    border: solid; border-color: antiquewhite;
;width: 100%; margin:0%}

.main__hero--logo{background-image: url(../Assets/Imagenes/Partituras.jpg); padding: -12px; }

.main__hero--carrousel{padding: 0%;border-left: solid; border-color: antiquewhite;}

.cardBanda{grid-area: "banda";}
.cardOrquesta {grid-area: "orquesta";}
.cardEducacion{ grid-area: "educacion";}

.main__cards{ 
    background-color: #1B1464; padding-top: 3rem;
    padding: 2rem
    ;
}

.main__card {width: 100%; }

.main__card--body {text-align: center;}

.main__card---img { padding: 3px;}

.main__card--hov{ transition: 50ms;}

.main__card--hov:hover{
    transform: scale( 105% ); z-index: 1; 

}


.main__img--hero{animation-name: swing-in-top-fwd ;
    animation-duration: 4s;
animation-iteration-count: 0.3s;}

.main__wave{height: 30vh;}

.main__mock--cta{ color: white; border: solid 3px; border-color:rgb(14, 12, 12) ; background-image: url(../Assets/Imagenes/Mock.png); padding: 1rem 3rem 3rem 3rem; font-family: Arial, Helvetica, sans-serif, monospace ;
font-weight: 200; background-size: 100%; background-repeat: repeat; background-position: center;  transition: 50ms}

.main__mock--cta:hover{
  transform: scale( 110% ); z-index: 1; 

}

.main__mock{ padding: 2rem 3rem 5rem 3rem; flex-wrap: wrap;}



.footer__info{ grid-template-columns: repeat(3, 1fr); background-color: #0f0a46;
color: white; place-items:center;}

footer a {text-decoration: none; color: white;}



/** Registro**/ 

.main__registro{ grid-template-columns: 0.5fr; justify-content: center
    ; animation-name:slide-in-fwd-center;animation-duration: 1s;
  animation-iteration-count: 1;}

    .slide-in-fwd-center {
      -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

.main__datos--margen {padding: 5px;}

.datosPers{font-weight: 400;}

.btn__registro{ background-color: #1B1464;color: antiquewhite;}

.btn-primary{background-color: #1B1464 !important;color: antiquewhite;  }


/* Animaciones*/
.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }


  /**/
  @-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/**Medias**/

@media screen and(max-width: 375px) {

    .main__mock{padding: 1rem}


    
}

@media screen and (max-width: 768px) {
    
    .main__registro{ grid-template-columns: 0.8fr; justify-content: center
        ; }
}