
footer{background-color: #0f0a46; color: white; padding: 1rem;}

a{ text-decoration: none;}

.nav__logo{
    width: 100px;
}
.nav__master{
    background-color: #1B1464;
color: white !important;}

body { background-color: antiquewhite;}

.main__hero {
    border: solid; border-color: antiquewhite;
;width: 100%; margin:0%}

.main__hero--logo{background-image: url(/Assets/Imagenes/Partituras.jpg); padding: -12px;}

.main__hero--carrousel{padding: 0%;border-left: solid; border-color: antiquewhite;}

.cardBanda{grid-area: "banda";}
.cardOrquesta {grid-area: "orquesta";}
.cardEducacion{ grid-area: "educacion";}

.main__cards{ 
    background-color: #1B1464; padding-top: 3rem;
    padding: 2rem
    ;
}

.card {width: 100%; }

.card-body {text-align: center;}

.card-img-top { padding: 3px;}

.main__img--hero{opacity: 100%;}

.main__wave{height: 30vh;}

.main__mock--cta{ color: white; border: solid 3px; border-color:rgb(161, 24, 24) ; background-image: url(/Assets/Imagenes/Mock.png); padding: 2rem 3rem; font-family: 'Space Mono', monospace ;
font-weight:700; background-size: 100%; background-repeat: no-repeat; background-position: center; }
.main__mock{ padding: 2rem 3rem 5rem 3rem; flex-wrap: wrap;}

.footer__info{ grid-template-columns: repeat(3, 1fr); background-color: #0f0a46;
color: white; place-items:center;}

footer a {text-decoration: none; color: white;}

/**Medias**/

@media screen and(max-width: 375px) {

    .main__mock{padding: 1rem}


    
}