body{
    background-color: $fondoClaro
}

footer {
    background-color: #0f0a46;
    color: white;
    padding: 1rem;
}

footer a {color: antiquewhite;}

a {
    text-decoration: none; 
}

h2 { font-weight: 400;}

.main__wave{height: 30vh;}

