.main{
    &__hero{border: solid; border-color: $fondoClaro;
    width: 100%; margin: 0%;}
    &__hero--logo {background-image: url(../Assets/Imagenes/Partituras.jpg); padding: -12px; }
    &__hero--carrousel{
        padding: 0%;border-left: solid;
        border-color: $fondoClaro;
    }
    &__img--hero{animation-name: swing-in-top-fwd ;
        animation-duration: 4s;
    animation-iteration-count: 0.3s;}
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
        -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
        -webkit-transform-origin: top;
            transform-origin: top;
        opacity: 1;
    }
    }
    @keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
        -webkit-transform-origin: top;
            transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
        -webkit-transform-origin: top;
            transform-origin: top;
        opacity: 1;
    }
    }
