.main{
    &__cards{background-color: $fondoAzul;
    padding-top: 3rem;
padding: 2rem;}
    &__card{ width: 100%;
    }
    &__card--body{ text-align: center;}

    &__card--img{padding: 3px;}

    &__card--hov:hover{
        transform: scale( 105% ); z-index: 1; 
    
    }
.colorCard {color:black}
}