.main{
    &__mock{padding: 2rem 3rem 5rem 3rem; flex-wrap: wrap}
    
    &__mock--cta{ color: white; border: solid 3px; border-color:rgb(14, 12, 12) ; background-image: url(../Assets/Imagenes/Mock.png); padding: 1rem 3rem 1rem 3rem; font-family: Arial, Helvetica, sans-serif, monospace ;
        font-weight: 200; background-size: 100%; background-repeat: no-repeat; background-position: center;  transition: 50ms}

    &__mock--cta:hover{
        transform: scale( 110% ); z-index: 1; }

    &__mock--subText{
        color: map-get($colorTxt ,"txtOscuro");
    }
    }
/*sitio mock*/
.body{
    &__mock{background-color: #EEEEEE;}
}

.hero{ 
    grid-template-rows: 1fr 1fr;
    height: 60vh;

    &__mock{
        background-color: #EEEEEE;
        height: 100%;
        width: 100%;}
    
    &__mock--txt{
        font-style: italic;
        display: grid;
        place-content: center;
        font-size: 25px;
        font-weight: 700;
    }
    
    &__mock--video{height: 50%;}
}

.mockLegend {
    height: 60vh;
    place-content: center;
    color: #EEEEEE;
}

.main__videos{justify-content: space-around; margin-top: 2rem; margin-bottom: 2rem; align-items: center;}


    @media screen and(min-width:420px) {
        .main {
            &__mock--cta{ padding: 1rem 3rem 3rem 3rem;}
        }
    
    
    }
    