.main{
    &__registro{  grid-template-columns: 0.5fr; justify-content: center
        ; animation-name:slide-in-fwd-center;animation-duration: 1s;
        animation-iteration-count: 1;
                }
    &__datos--margen{padding: 5px;}

}
.datosPers{font-weight: 400;}

.btn__registro{ background-color: $fondoAzul ;color: antiquewhite;}

.btn-primary{background-color: $fondoAzul !important;color: antiquewhite;  }

.slide-in-fwd-center {
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

            @-webkit-keyframes slide-in-fwd-center {
                0% {
                    -webkit-transform: translateZ(-1400px);
                    transform: translateZ(-1400px);
                opacity: 0;}
                100% {
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    opacity: 1;
                    }
                }
            @keyframes slide-in-fwd-center {
                0% {
                -webkit-transform: translateZ(-1400px);
                transform: translateZ(-1400px);
                opacity: 0;
                }
                100% {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                opacity: 1;
                }

            }
@media screen and (max-width: 768px) {
    
    .main__registro{ grid-template-columns: 0.8fr; justify-content: center
        ; }
}