* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

body {
  background-color: antiquewhite;
}

footer {
  background-color: #0f0a46;
  color: white;
  padding: 1rem;
}

footer a {
  color: antiquewhite;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 400;
}

.main__wave {
  height: 30vh;
}

.nav__logo {
  width: 100px;
}

.nav__master {
  background-color: #1B1464;
  color: white !important;
}

.main__hero {
  border: solid;
  border-color: antiquewhite;
  width: 100%;
  margin: 0%;
}

.main__hero--logo {
  background-image: url(../Assets/Imagenes/Partituras.jpg);
  padding: -12px;
}

.main__hero--carrousel {
  padding: 0%;
  border-left: solid;
  border-color: antiquewhite;
}

.main__img--hero {
  -webkit-animation-name: swing-in-top-fwd;
          animation-name: swing-in-top-fwd;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 0.3s;
          animation-iteration-count: 0.3s;
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.main__cards {
  background-color: #1B1464;
  padding-top: 3rem;
  padding: 2rem;
}

.main__card {
  width: 100%;
}

.main__card--body {
  text-align: center;
}

.main__card--img {
  padding: 3px;
}

.main__card--hov:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  z-index: 1;
}

.main .colorCard {
  color: black;
}

.main__mock {
  padding: 2rem 3rem 5rem 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__mock--cta {
  color: white;
  border: solid 3px;
  border-color: #0e0c0c;
  background-image: url(../Assets/Imagenes/Mock.png);
  padding: 1rem 3rem 3rem 3rem;
  font-family: Arial, Helvetica, sans-serif, monospace;
  font-weight: 200;
  background-size: 100%;
  background-repeat: repeat;
  background-position: center;
  -webkit-transition: 50ms;
  transition: 50ms;
}

.main__mock--cta:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  z-index: 1;
}

.footer__info {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: #0f0a46;
  color: white;
  place-items: center;
}
/*# sourceMappingURL=main.css.map */